.overlayLoading{
    position: relative;
}
.overlayLoading:before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #999;
    opacity: 0.2;
    z-index: 1;
}
.errorMessage{
    width: 100%;
    color: #f00;
}
