.wrap{
    border: 1px solid #e8e8e8;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.image_wrap{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    margin-bottom: 25px;
}
.image{
    max-height: 100%;
}
.title{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.specs{
    padding-left: 15px;
    padding-right: 15px;
    color: #999;
    font-size: 14px;
    margin-bottom: 25px;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    margin-top: auto;
}
.price{
    font-size: 20px;
    font-weight: 700;
}
